$white: #ffffff;
$seafoam-blue: #74d7ab;
$blush: #eaad94;
$charcoal: #303838;
$gray: #f2f2f2;
$slate-grey: #666767;
$faded-pink: #bebcbd;
$light-peach: #e7ded9;
$ice: #e5ede9;
$white: #ffffff;
$tealish-green: #06c973;
$salmon: #f5946c;
$pastel-red: #e36060;
$greyish-teal: #669e84;
$greenish-teal: #38b77f;
$pinkish-tan: #d09780;
$very-dark-grayish-blue: #46485d;
$crusta: #f87743;
$orangish-white: #efeae7;

$red-shadow: rgba(243, 72, 72, 0.08);
$green-shadow: rgba(6, 201, 115, 0.16);

$smokyBlack: #0A0908;
$gunmetal: #22333B;
$antiWhite: #F2F4F3;
$grullo: #A9927D;
$umber: #5E503F;